<div [ngStyle]="{'height': allenamento.completato ? 'calc(100% - 48px)' : 'calc(100% - 96px - 48px)', 'max-width': '100%','overflow': 'auto'}">
	<table mat-table [dataSource]="dataSource" class="allenamento-table">
		<ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef" [sticky]="column.sticky">
			<th mat-header-cell *matHeaderCellDef>
				{{column.header}}
			</th>
			<td mat-cell *matCellDef="let row">
				<div fxLayout="row" fxLayoutAlign="start stretch">
					<app-input-text *ngIf="column.type == 'text'" [placeholder]="column.header" [(model)]="row[column.key]" ></app-input-text>
					<app-input-number *ngIf="column.type == 'number'" [placeholder]="column.header" [(model)]="row[column.key].risultato"></app-input-number>
					<app-input-time *ngIf="column.type == 'time'" [placeholder]="column.header" [(model)]="row[column.key].risultato"></app-input-time>
					<div *ngIf="column.type == 'plain'">{{column.cell(row)}}</div>
				</div>
			</td>
		</ng-container>
	  
		<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	  </table>
</div>

<div fxLayout="row" *ngIf="!allenamento.completato" fxLayoutAlign="space-evenly center" style="height: 96px;">
	<button mat-icon-button class="circle-button-small" (click)="save()">
		<mat-icon aria-hidden="false" aria-label="listaAllenamenti">save</mat-icon>
	</button>
	<button mat-icon-button class="circle-button-small-green" (click)="confirm()">
		<mat-icon aria-hidden="false" aria-label="listaAllenamenti">verified</mat-icon>
	</button>
</div>