<div [ngStyle]="{'height': allenamento.completato ? 'calc(100% - 48px)' : 'calc(100% - 96px - 48px)', 'max-width': '100%','overflow': 'auto'}">
	<div style="background-color: white;">
		<h1 fxFlex="40"  fxLayout="column" fxLayoutAlign="center center">
			Atleta
		</h1>
		<div fxFlex="60" fxLayout="row" fxLayoutAlign="start stretch">
			<button mat-icon-button (click)="prevTest()">
				<mat-icon aria-hidden="false" aria-label="prevTest">chevron_left</mat-icon>
			</button>
			<h1>
				{{currentTest.descr}}
			</h1>
			<button mat-icon-button (click)="nextTest()">
				<mat-icon aria-hidden="false" aria-label="nextTest">chevron_right</mat-icon>
			</button>
		</div>
	</div>
	<div *ngFor="let risultato of dataSource">
		<div fxFlex="40">
			<app-atleta-preview [atleta]="risultato.atleta"></app-atleta-preview>
		</div>
		<div fxFlex="60" style="margin-top: 10px">
			<app-input-text *ngIf="getTestFromRisultato(risultato).tipo == 'Generico'" [placeholder]="getTestFromRisultato(risultato).descr" [(model)]="risultato['result_'+(this.currentTestIndex)].risultato" ></app-input-text>
			<app-input-time *ngIf="getTestFromRisultato(risultato).tipo == 'Crono'" [placeholder]="getTestFromRisultato(risultato).descr" [(model)]="risultato['result_'+(this.currentTestIndex)].risultato"></app-input-time>
			<app-input-number *ngIf="getTestFromRisultato(risultato).tipo == 'Distanza'" [placeholder]="getTestFromRisultato(risultato).descr" [(model)]="risultato['result_'+(this.currentTestIndex)].risultato"></app-input-number>
		</div>
	</div>
</div>

<div fxLayout="row" *ngIf="!allenamento.completato" fxLayoutAlign="space-evenly center" style="height: 96px;">
	<button mat-icon-button class="circle-button-small" (click)="save()">
		<mat-icon aria-hidden="false" aria-label="listaAllenamenti">save</mat-icon>
	</button>
	<button mat-icon-button class="circle-button-small-green" (click)="confirm()">
		<mat-icon aria-hidden="false" aria-label="listaAllenamenti">verified</mat-icon>
	</button>
</div>