<div style="height: 48px;">
    <app-input-text placeholder="Cerca" [(model)]="searchString"></app-input-text>
</div>

<cdk-virtual-scroll-viewport itemSize="50" style="height: calc(50% - 115px);">
    <div *cdkVirtualFor="let test of possible_tests | search:'descr,gruppo':searchString" #test>
        <app-test-preview [test]="test" [(testList)]="selected_tests" [addable]="addable" [editable]="editable"></app-test-preview>
    </div>
</cdk-virtual-scroll-viewport>

<mat-divider *ngIf="!editable" style="margin: 2px"></mat-divider>

<cdk-virtual-scroll-viewport *ngIf="!editable" itemSize="50" style="height: calc(50% - 115px);">
    <div *cdkVirtualFor="let test of selected_tests | search:'descr,gruppo':searchString" #added>
        <app-test-preview [test]="test" [(testList)]="selected_tests" [removable]="true"></app-test-preview>
    </div>
</cdk-virtual-scroll-viewport>

<div fxLayout="row" fxLayoutAlign="end center">
    <button mat-icon-button class="circle-button-green" *ngIf="editable" style="position: absolute;bottom: -10px;left:-10px" [routerLink]="['./', 0]" routerLinkActive="activebutton">
        <mat-icon aria-hidden="false" aria-label="listaTest">add</mat-icon>
    </button>
    <button backButton mat-icon-button class="circle-button-green" style="position: absolute;bottom: -10px;right:-10px" (click)="confirm()">
        <mat-icon aria-hidden="false" aria-label="listaTest">check</mat-icon>
    </button>
</div>