<div fxLayout="row" fxLayoutAlign="start stretch" style="height: 100%; margin-top: 2px; margin-bottom: 2px;" [ngStyle]="{'background-color': allenamento.completato ? 'rgba(0,255,0,0.5)' : 'rgba(255,255,255,0.5)'}">
    <div style="margin-left: 24px;font-size: large;">
        <b>{{allenamento.descr}}</b><br>
        {{allenamento.data | date:"dd/mm/yy"}}
    </div>
    <div fxFlex></div>
    <button mat-flat-button [routerLink]="['/allenamentoAttivo/', allenamento.id]" routerLinkActive="activebutton">
        <mat-icon aria-hidden="false" aria-label="allenamentoAttivo">play_arrow</mat-icon>
    </button>
</div>