<div style="height: 48px;" *ngIf="searchable">
    <app-input-text placeholder="Cerca" [(model)]="searchString"></app-input-text>
</div>

<mat-selection-list #list [(ngModel)]="targetAtletaList" (ngModelChange)="getChanges(targetAtletaList)">
    <mat-list-option *ngFor="let atleta of sourceAtletaList | search:'id,nome,cognome,category':searchString" [value]="atleta.id" [ngClass]="{'hide-checkbox': !selectable}">
        <app-atleta-preview [atleta]="atleta" [editable]="editable"></app-atleta-preview>
    </mat-list-option>
</mat-selection-list>

