<div style="height: 48px;">
    <app-input-text placeholder="Cerca" [(model)]="searchString"></app-input-text>
</div>

<cdk-virtual-scroll-viewport itemSize="50" style="height: calc(100% - 240px);">
    <div *cdkVirtualFor="let atleta of atleti | search:'id,name,cognome,category':searchString" #atleti>
        <app-atleta-preview [atleta]="atleta" [selectable]="selectable"></app-atleta-preview>
    </div>
</cdk-virtual-scroll-viewport>

<button mat-icon-button class="circle-button-green" style="position: absolute;bottom: -10px;right:-10px" [routerLink]="['/allenamento/',idallenamento]"  routerLinkActive="activebutton">
    <mat-icon aria-hidden="false" aria-label="listaTest">check</mat-icon>
</button>

