<div style="height: 48px;">
    <app-input-text placeholder="Cerca" [(model)]="searchString"></app-input-text>
</div>

<mat-selection-list #list [(ngModel)]="selezionati" (ngModelChange)="onNgModelChange($event)">
    <mat-list-option *ngFor="let atleta of atleti | search:'id,name,cognome,category':searchString" [value]="atleta.id" [ngClass]="{'hide-checkbox': !selectable}">
        <app-atleta-preview [atleta]="atleta" [editable]="editable"></app-atleta-preview>
    </mat-list-option>
</mat-selection-list>

<div>
    <button mat-icon-button class="circle-button-green" *ngIf="editable" style="position: absolute;bottom: -10px;left:-10px" [routerLink]="['./', 0]" routerLinkActive="activebutton">
        <mat-icon aria-hidden="false" aria-label="listaTest">add</mat-icon>
    </button>
    <button backButton mat-icon-button class="circle-button-green" style="position: absolute;bottom: -10px;right:-10px" (click)="confirm()">
        <mat-icon aria-hidden="false" aria-label="listaTest">check</mat-icon>
    </button>
</div>

