<ng-container>
	<mat-card  [ngClass]="{'my-card':true, 'male':athlete.isMale, 'female':!athlete.isMale}">
		<mat-card-header>
			<mat-card-title>{{athlete.name}} {{athlete.surname}}</mat-card-title>
			<mat-card-subtitle>Data di nascita: {{athlete.date_of_birth | date}}</mat-card-subtitle>
			<mat-card-subtitle>Tessera: {{athlete.tessera}}</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<p>Età:{{athlete.age}}</p>
			<p>Categoria:{{athlete.category}}</p>
		</mat-card-content>
		<mat-card-actions>
			<button [routerLink]="['/athlete/',athlete.id]" mat-raised-button color="primary">DETTAGLIO</button>
		</mat-card-actions>
	</mat-card>
</ng-container>

