<div fxLayout="row" fxLayoutAlign="start center" style="height: 48px;">
	<app-input-text fxFlex placeholder="Cerca" [(model)]="searchString"></app-input-text>
	<mat-slide-toggle [checked]="showCompletati" (change)="changeShowCompletati()"></mat-slide-toggle>
</div>

<cdk-virtual-scroll-viewport itemSize="50" style="height: calc(100% - 96px);">
	<div *cdkVirtualFor="let allenamento of filteredAllenamenti | search:'descr,gruppo':searchString" #test>
		<b>{{allenamento.descr}}</b><br>
				{{allenamento.date | date:"dd/MM/yy"}}
	</div>
</cdk-virtual-scroll-viewport>