<div fxLayout="column" fxLayoutAlign="space-evenly stretch" style="height: calc(100vh - 48px);">
	<div fxLayout="row" fxLayoutAlign="end center" style="height: 100%;margin-right: 40px;">
		<button mat-icon-button class="circle-button" [routerLink]="['/gare/']" routerLinkActive="activebutton">
				<mat-icon aria-hidden="false" aria-label="Gare">emoji_events</mat-icon>
		</button>
	</div>
		<div fxLayout="row" fxLayoutAlign="end center" style="height: 100%;margin-right: 40px;">
				<button mat-icon-button class="circle-button" [routerLink]="['/allena/']" routerLinkActive="activebutton">
						<mat-icon aria-hidden="false" aria-label="Allenamenti">fitness_center</mat-icon>
				</button>
		</div>
		<div fxLayout="row" fxLayoutAlign="start center" style="height: 100%;margin-left: 40px;">
				<button mat-icon-button class="circle-button" [routerLink]="['/gestione/']" routerLinkActive="activebutton">
						<mat-icon aria-hidden="false" aria-label="Gestione">settings</mat-icon>
				</button>
		</div>
</div>