<div fxLayout="column" fxLayoutAlign="space-evenly stretch" style="height: calc(100vh - 48px);">
		<div fxLayout="row" fxLayoutAlign="end center" style="height: 100%; margin-right: 40px;">
				<button mat-icon-button class="circle-button" [routerLink]="['gestioneAtleti/']" routerLinkActive="activebutton">
						<mat-icon aria-hidden="false" aria-label="gestioneAtleti">directions_run</mat-icon>
				</button>
		</div>
		<div fxLayout="row" fxLayoutAlign="start center" style="height: 100%; margin-left: 40px;">
				<button mat-icon-button class="circle-button" [routerLink]="['gestioneTest/']" routerLinkActive="activebutton">
						<mat-icon aria-hidden="false" aria-label="gestioneTest">assignment</mat-icon>
				</button>
		</div>
</div>