<!--<div fxLayout="column" fxLayoutAlign="start stretch" fxFlex layout-padding style="margin-left: 10px;margin-right: 10px;">
	<form fxLayout="column" fxLayoutAlign="start stretch" fxFlex>
		<mat-form-field fxFlex><input matInput type="text" placeholder="Nome" [(ngModel)]="athlete.name" [ngModelOptions]="{standalone: true}" [disabled]="disabled" (ngModelChange)="onAthleteChange()"></mat-form-field>
		<mat-form-field fxFlex><input matInput type="text" placeholder="Cognome" [(ngModel)]="athlete.surname" [ngModelOptions]="{standalone: true}" [disabled]="disabled" (ngModelChange)="onAthleteChange()"></mat-form-field>
		<mat-form-field fxFlex><input matInput type="text" placeholder="Tessera" [(ngModel)]="athlete.tessera" [ngModelOptions]="{standalone: true}" [disabled]="disabled" (ngModelChange)="onAthleteChange()"></mat-form-field>
		<mat-form-field fxFlex>
			<input matInput [matDatepicker]="picker" placeholder="Data di nascita" [(ngModel)]="athlete.date_of_birth" [disabled]="disabled" [ngModelOptions]="{standalone: true}" (ngModelChange)="onAthleteChange()">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker [disabled]="disabled"></mat-datepicker>
		</mat-form-field>
		<mat-form-field fxFlex>
			<mat-label>Sesso</mat-label>
			<mat-select [(ngModel)]="athlete.sex" (click)="$event.stopPropagation();" [disabled]="disabled" (ngModelChange)="onAthleteChange()">
				<mat-option *ngFor="let item of sexEnum | enumToArray" [value]="item">{{item}}</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-divider></mat-divider>
		
		<h2>Velocità</h2>

		<mat-divider></mat-divider>

		<h2>Ostacoli</h2>
		<mat-form-field fxFlex><input matInput type="number" placeholder="Passi ostacoli alti" [(ngModel)]="athlete.passi_ostacoli_alti" [ngModelOptions]="{standalone: true}" [disabled]="disabled" (ngModelChange)="onAthleteChange()"></mat-form-field>
		<mat-form-field fxFlex><input matInput type="number" placeholder="Passi ostacoli bassi" [(ngModel)]="athlete.passi_ostacoli_bassi" [ngModelOptions]="{standalone: true}" [disabled]="disabled" (ngModelChange)="onAthleteChange()"></mat-form-field>
		<mat-divider></mat-divider>
		
		<h2>Lungo</h2>
		<mat-form-field fxFlex><input matInput type="number" placeholder="Rincorsa lungo" [(ngModel)]="athlete.rincorsa_lungo" [ngModelOptions]="{standalone: true}" [disabled]="disabled" (ngModelChange)="onAthleteChange()"></mat-form-field>
		<mat-form-field fxFlex><input matInput type="number" placeholder="Passi lungo" [(ngModel)]="athlete.passi_lungo" [ngModelOptions]="{standalone: true}" [disabled]="disabled" (ngModelChange)="onAthleteChange()"></mat-form-field>
		<mat-divider></mat-divider>
		
		<h2>Alto</h2>
		<mat-form-field fxFlex><input matInput type="number" placeholder="Rincorsa alto verticale" [(ngModel)]="athlete.rincorsa_alto_1" [ngModelOptions]="{standalone: true}" [disabled]="disabled" (ngModelChange)="onAthleteChange()"></mat-form-field>
		<mat-form-field fxFlex><input matInput type="number" placeholder="Rincorsa alto orrizzontale" [(ngModel)]="athlete.rincorsa_alto_2" [ngModelOptions]="{standalone: true}" [disabled]="disabled" (ngModelChange)="onAthleteChange()"></mat-form-field>
		<mat-form-field fxFlex><input matInput type="number" placeholder="Passi alto" [(ngModel)]="athlete.passi_alto" [ngModelOptions]="{standalone: true}" [disabled]="disabled" (ngModelChange)="onAthleteChange()"></mat-form-field>
		<mat-divider></mat-divider>
	</form>
</div>
-->