<mat-tab-group>
	<mat-tab label="Info atleta">
		<div fxLayout="column" fxLayoutAlign="start stretch" fxFlex style="height: 92vh;overflow-y: scroll;">
			<div fxLayout="row" fxLayoutAlign="start stretch" fxFlex>
				<h2>Info atleta</h2>
				<div fxFlex></div>
				<button mat-fab color="primary" style="margin:8px">
					<mat-icon aria-hidden="false" aria-label="Salva" (click)="athleteService.save(athlete);$event.stopPropagation()">save</mat-icon>
				</button>
			</div>
			<app-athlete-info-mobile [(athlete)]="athlete" style="max-height: 85vh;" fxFlex></app-athlete-info-mobile>
		</div>
	</mat-tab>
	<mat-tab label="Ultime gare">
		<div fxLayout="column" fxLayoutAlign="start stretch" fxFlex style="height: 92vh">
			<div fxLayout="row" fxLayoutAlign="start stretch" fxFlex>
				<h2>Ultime gare</h2>
				<div fxFlex></div>
				<button mat-fab color="primary" style="margin:8px">
					<mat-icon aria-hidden="false" aria-label="Aggiungi" (click)="newAthleteCompetition();$event.stopPropagation()">add</mat-icon>
				</button>
			</div>
			<cdk-virtual-scroll-viewport itemSize="50" style="height: 100%">
				<div *cdkVirtualFor="let athleteCompetition of athleteCompetitions">
					<app-athlete-competition-preview [athleteCompetition]="athleteCompetition"></app-athlete-competition-preview>
				</div>
			</cdk-virtual-scroll-viewport>
		</div>
	</mat-tab>
	<mat-tab label="Gruppi">
		<div fxLayout="column" fxLayoutAlign="start stretch" fxFlex style="height: 92vh">
			<div fxLayout="row" fxLayoutAlign="start stretch" fxFlex>
				<h2>Gruppi</h2>
				<div fxFlex></div>
				<button mat-fab color="primary" style="margin:8px">
					<mat-icon aria-hidden="false" aria-label="Aggiungi" (click)="newAthleteGroup();$event.stopPropagation()">add</mat-icon>
				</button>
			</div>
			<cdk-virtual-scroll-viewport itemSize="50" style="height: 100%">
				<div *cdkVirtualFor="let athleteGroup of athleteGroups">
					<app-athlete-group-preview [athleteGroup]="athleteGroup"></app-athlete-group-preview>
				</div>
			</cdk-virtual-scroll-viewport>
		</div>
	</mat-tab>
</mat-tab-group>