<div fxLayout="column" fxLayoutAlign="start stretch" fxFlex layout-padding style="margin-left: 10px;margin-right: 10px;height: calc(100vh - 48px);overflow-y: scroll;">
	<form fxLayout="column" fxLayoutAlign="start stretch" fxFlex>
		<app-input-text placeholder="Nome" [(model)]="atleta.nome"></app-input-text>
		<app-input-text placeholder="Cognome" [(model)]="atleta.cognome"></app-input-text>
		<app-input-text placeholder="Tessera" [(model)]="atleta.tessera"></app-input-text>
		<app-input-date placeholder="Data di nascita" [(model)]="atleta.data_nascita"></app-input-date>
		<app-input-sex placeholder="Sesso" [(model)]="atleta.sesso"></app-input-sex>
		
		<mat-divider></mat-divider>
		
		<h2>Velocità</h2>
		<!--<app-input-side placeholder="Piede di partenza" [(model)]="atleta.piede_partenza_blocchi"></app-input-side>-->
		<app-input-number placeholder="Primo piede" [(model)]="atleta.primo_piede"></app-input-number>
		<app-input-number placeholder="Secondo piede" [(model)]="atleta.secondo_piede"></app-input-number>
		<mat-divider></mat-divider>
		
		<h2>Ostacoli</h2>
		<app-input-number placeholder="Passi ostacoli alti" [(model)]="atleta.passi_ostacoli_alti"></app-input-number>
		<app-input-number placeholder="Passi ostacoli bassi" [(model)]="atleta.passi_ostacoli_bassi"></app-input-number>
		<mat-divider></mat-divider>
		
		<h2>Lungo</h2>
		<app-input-number placeholder="Rincorsa lungo" [(model)]="atleta.rincorsa_lungo"></app-input-number>
		<app-input-number placeholder="Passi lungo" [(model)]="atleta.passi_lungo"></app-input-number>
		<mat-divider></mat-divider>
		
		<h2>Alto</h2>
		<app-input-number placeholder="Rincorsa alto verticale" [(model)]="atleta.rincorsa_alto_1"></app-input-number>
		<app-input-number placeholder="Rincorsa alto orrizzontale" [(model)]="atleta.rincorsa_alto_2"></app-input-number>
		<app-input-number placeholder="Passi alto" [(model)]="atleta.passi_alto"></app-input-number>
		<mat-divider></mat-divider>
	</form>
</div>
<div fxLayout="column" fxLayoutAlign="start center" style="height: calc(100vh - 48px)">
	<button mat-icon-button class="circle-button-small" (click)="save()">
		<mat-icon aria-hidden="false" aria-label="listaAllenamenti">save</mat-icon>
	</button>
	<div fxFlex></div>
	<button backButton mat-icon-button class="circle-button-small" >
		<mat-icon aria-hidden="false" aria-label="salva">arrow_back</mat-icon>
	</button>
</div>