<div fxLayout="column" fxLayoutAlign="start stretch">
	<div fxFlex style="background-color: #3f51b5;">
		<div fxFlex></div>
		<button mat-flat-button color="primary" (click)="close()">
			<mat-icon aria-hidden="false" aria-label="Filtro">clear</mat-icon>
		</button>
		<button mat-flat-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>
			<mat-icon aria-hidden="false" aria-label="Filtro">done</mat-icon>
		</button>
	</div>
	<div fxLayout="column" fxLayoutAlign="space-around stretch" style="margin: 10px">
		<app-text-field [placeholder]="'Nome'" [(model)]="data.training.name" fxFlex></app-text-field>
		<app-text-field [placeholder]="'Descrizione'" [(model)]="data.training.descr" fxFlex></app-text-field>
		
		<div>
			<app-athlete-field [placeholder]="'Scegli Atleta'" [(idathlete)]="idathleteToAdd" fxFlex></app-athlete-field>
			<button mat-fab color="primary" style="margin:8px">
				<mat-icon aria-hidden="false" aria-label="Aggiungi" (click)="addAthleteToTraining();$event.stopPropagation()">add</mat-icon>
			</button>
		</div>

		<mat-list role="list" #athletes>
			<mat-list-item role="listitem" *ngFor="let idathlete of data.training.idathletes">
				<div>
					{{getAthlete(idathlete).fullName}} - {{getAthlete(idathlete).category}}
					<button mat-fab color="primary" style="margin:8px">
						<mat-icon aria-hidden="false" aria-label="Rimuovi" (click)="removeAthleteToTraining(idathlete);$event.stopPropagation()">delete</mat-icon>
					</button>
				</div>
			</mat-list-item>
		</mat-list>
	</div>
</div>