<div fxLayout="column" fxLayoutAlign="start stretch" fxFlex layout-padding style="margin-left: 10px;margin-right: 10px;">
	<form fxLayout="column" fxLayoutAlign="start stretch" fxFlex>
		<app-text-field [placeholder]="'Nome'" [(model)]="athlete.name" fxFlex (change)="onAthleteChange()"></app-text-field>
		<app-text-field [placeholder]="'Cognome'" [(model)]="athlete.surname" fxFlex (change)="onAthleteChange()"></app-text-field>
		<app-text-field [placeholder]="'Tessera'" [(model)]="athlete.tessera" fxFlex (change)="onAthleteChange()"></app-text-field>
		<app-date-field [placeholder]="'Data di nascita'" [(model)]="athlete.date_of_birth" fxFlex (change)="onAthleteChange()"></app-date-field>
			
		<app-sex-field [placeholder]="'Sesso'" [(model)]="athlete.sex" fxFlex (change)="onAthleteChange()"></app-sex-field>
		<app-category-field [placeholder]="'Categoria'" [(model)]="athlete.category" fxFlex (change)="onAthleteChange()"></app-category-field>
		<mat-divider></mat-divider>
		
		<h2>Velocità</h2>
		<app-side-field [placeholder]="'Piede partenza blocchi'" [(model)]="athlete.piede_partenza_blocchi" fxFlex (change)="onAthleteChange()"></app-side-field>
		<app-text-field [placeholder]="'Primo piede'" [(model)]="athlete.primo_piede" fxFlex (change)="onAthleteChange()"></app-text-field>
		<app-text-field [placeholder]="'Secondo piede'" [(model)]="athlete.secondo_piede" fxFlex (change)="onAthleteChange()"></app-text-field>

		<mat-divider></mat-divider>

		<h2>Ostacoli</h2>
		<app-text-field [placeholder]="'Passi ostacoli alti'" [(model)]="athlete.passi_ostacoli_alti" fxFlex (change)="onAthleteChange()"></app-text-field>
		<app-text-field [placeholder]="'Passi ostacoli bassi'" [(model)]="athlete.passi_ostacoli_bassi" fxFlex (change)="onAthleteChange()"></app-text-field>
		<mat-divider></mat-divider>

		<h2>Lungo</h2>
		<app-text-field [placeholder]="'Rincorsa lungo'" [(model)]="athlete.rincorsa_lungo" fxFlex (change)="onAthleteChange()"></app-text-field>
		<app-text-field [placeholder]="'Passi lungo'" [(model)]="athlete.passi_lungo" fxFlex (change)="onAthleteChange()"></app-text-field>
		<app-side-field [placeholder]="'Piede stacco lungo'" [(model)]="athlete.piede_stacco_lungo" fxFlex (change)="onAthleteChange()"></app-side-field>
		<mat-divider></mat-divider>

		<h2>Alto</h2>
		<app-text-field [placeholder]="'Rincorsa alto verticale'" [(model)]="athlete.rincorsa_alto_1" fxFlex (change)="onAthleteChange()"></app-text-field>
		<app-text-field [placeholder]="'Rincorsa alto orrizzontale'" [(model)]="athlete.rincorsa_alto_2" fxFlex (change)="onAthleteChange()"></app-text-field>
		<app-text-field [placeholder]="'Passi alto'" [(model)]="athlete.passi_alto" fxFlex (change)="onAthleteChange()"></app-text-field>
		<app-side-field [placeholder]="'Piede stacco alto'" [(model)]="athlete.piede_stacco_alto" fxFlex (change)="onAthleteChange()"></app-side-field>
		<mat-divider></mat-divider>
	</form>
</div>