<div fxLayout="row" fxLayoutAlign="start stretch" style="height: 100%; margin-top: 2px; margin-bottom: 2px;" [ngStyle]="{'background-color': gara.completato ? 'rgba(0,255,0,0.5)' : 'rgba(255,255,255,0.5)'}">
	<div style="margin-left: 24px;font-size: large;">
			<b>{{gara.descr}}</b><br>
			{{gara.date | date:"dd/MM/yy"}}
	</div>
	<div fxFlex></div>
	<button *ngIf="!gara.completato" mat-flat-button [routerLink]="['../costruisci/', gara.id]" routerLinkActive="activebutton">
			<mat-icon aria-hidden="false" aria-label="Costruisci">edit</mat-icon>
	</button>
	<button mat-flat-button [routerLink]="['./', gara.id]" routerLinkActive="activebutton">
			<mat-icon aria-hidden="false" aria-label="Gareggia">play_arrow</mat-icon>
	</button>
</div>