<app-lista-risultati 
	[sourceRisultatiList]="risultati" 
	[(targetRisultatiList)]="risultati" 
	[searchable]="true" 
	[editable]="false"
	[maxHeight]="90">
</app-lista-risultati>

<div fxLayout="row" fxLayoutAlign="space-evenly center" style="height: 96px;">
	<button mat-icon-button class="circle-button-small" [routerLink]="['./', 0]" routerLinkActive="activebutton">
		<mat-icon aria-hidden="false" aria-label="nuovoRisultato">add</mat-icon>
	</button>
	<button backButton mat-icon-button class="circle-button-small-green" (click)="confirm()">
		<mat-icon aria-hidden="false" aria-label="conferma">check</mat-icon>
	</button>
</div>