<div style="height: 48px;" *ngIf="searchable" >
	<app-input-text placeholder="Cerca" [(model)]="searchString"></app-input-text>
</div>

<cdk-virtual-scroll-viewport itemSize="50" [ngStyle]="{'height': 'calc('+maxHeight+'vh - 80px)', 'overflow-y':'auto'}">
	<div *cdkVirtualFor="let risultato of sourceRisultatiList | search:'descr,gruppo':searchString" #risultati>
		<app-risultato-preview [risultato]="risultato" [editable]="editable" [removable]="removable" [showResult]="showResult"></app-risultato-preview>
	</div>
</cdk-virtual-scroll-viewport>